/***********************TAGS**************************/
body {
  background-color: #FEFFFF;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 70px;
  color: #3AAFA9;
  margin: 0
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #006D77;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #2B7A78;
}

p {
  color: #17252A;
  font-size: 20px;
  padding-right: 50px;
  padding-left: 50px
}

/***********************ClASSES**************************/
.top-container {
  padding-top: 80px;
  position: relative;
  background-color: #DEF2F1;
}

.skills-img {
  height: 250px;
  background-color: #DEF2F1;
  border-radius: 50%;
  object-fit: contain;
}

.logo-top {
  background-color: #ffdd00;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: contain;
  position: absolute;
  top: 30px;
  left: 20px;
}

.logo-bottom {
  background-color: #ffdd00;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.middle-container {
  padding-top: 50px;
}

.bottom-container {
  font-size: 15px;
}

.contact-me {
  font-size: 15px;
}

/***********************IDS**************************/

#code {
  height: 50px;
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#desktop {
  height: 400px;
  margin-top: 160px;
  margin-bottom: 0;
}
